.add-button{
    z-index: 1;
    color: aliceblue;
    font-size: 2rem;
    height: 60px;
    width: 60px;
    background-color: #ca3475;
    border-radius: 50px;
    border-color: transparent;
    position: fixed;
    bottom: 20px;
    right: 20px;
}