.app-header{
    h1{
        cursor: pointer;
    }
}

.btn-h{
    background-color:rgba(54, 59, 54, 0.295);
    color: black;
    border-color: transparent;
    float: right;
    cursor: pointer;
    margin-left: 5px;

    img{
        width: 30px;
    }
}