<header class="app-header">
    <nav class="header-nav">
        <button class="btn-h" routerLink="/charts" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"><img class="header-img"
                src='./assets/icons/increase.png' /></button>
        <button class="btn-h" routerLink="/contact" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"><img class="header-img"
                src='./assets/icons/users.png' /></button>
    </nav>
    <h1 routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mr.BitCoin</h1>
</header>