.contact-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    overflow-x: hidden;

    &:hover {
        color: rgb(155, 212, 155);
    }

    .contact-info{
        .contact-img{
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }
    }

    .contact-actions{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 10px;
        transform: translateX(115%);
        transition: .3s;
        margin-inline-end: 12px;


        .contact-action-img {
            height: 30px;
            width: 30px;
            cursor: pointer;
        }

        button{
            border-color: transparent;
            background-color: transparent;
        }
    }

    &:hover .contact-actions {
        transform: translateX(0);
    }

    
}

