.charts{
    width: 60rem;
    .charts-container{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and(max-width:1250px) {
    .charts{
        width: 55rem;
        .charts-container{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and(max-width:1100px) {
    .charts{
        width: 52rem;
        .charts-container{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and(max-width:1040px) {
    .charts{
        width: 25rem;
        .charts-container{
            display: flex;
            flex-direction: column;
        }
    }
}