<section class="contact-edit">
    <h2>Contact: {{this.currContact.name}}</h2>
    <img *ngIf="currContact._id" class="contact-img" src='https://robohash.org/{{currContact._id}}?set=set4'>
    <form (ngSubmit)="onSaveContact()">
        <div class="inputs-container">
            <label for="name">Name:</label>
            <input [(ngModel)]="currContact.name" required placeholder="Enter Name" type="text" name="name" id="name">

            <label for="phone">Phone Number:</label>
            <input [(ngModel)]="currContact.phone" required placeholder="Enter Phone Number" type="text" name="phone" id="phone">

            <label for="email">Email:</label>
            <input [(ngModel)]="currContact.email" required placeholder="Enter Email" type="text" name="email" id="email">

        </div>
        <button class="button-3">Save</button>
    </form>
</section>