.contact-details-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;

    .contact-details{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img{
            margin: 20px 0;
            margin-right: 10rem;
            height: 250px;
        }

        .details{
            font-size: 1.5rem;
            .name{
                color: #ca3475;
            }
            .button-3{
                margin-top: 60px;
            }
        }

        .transfer-container {
            width: 640px;
        }

    }

    
    @media screen and(max-width:870px) {
        .contact-details{
            img{
                margin-right: 3rem;
            }
        }
    }
    
    @media screen and(max-width:600px) {
        
        .contact-details{
            flex-direction: column;
            align-items: center;
            
            img{
                margin-right: 0;
                height: 150px;
                width: 150px;
            }
            
            .details{
                .button-3{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
           
        }
    }
}
