<section class="contact-details-container">
    <div class="contact-details">
      <img
        src="https://robohash.org/{{ currContact._id }}?set=set4"
        alt="contact-image"
      />
      <h1>Contact Details of {{ currContact.name }}</h1>
      <div class="details">
        <div class="categories">
          <span class="categor">Name:</span>
          <span class="categor">Phone:</span>
          <span class="categor">Email:</span>
        </div>

        <div class="information">
          <span class="info">{{ currContact.name }}</span>
          <span class="info">{{ currContact.phone }}</span>
          <span class="info">{{ currContact.email }}</span>
        </div>
      </div>
      <button class="button-3" (click)="onBack()">Go Back</button>
    </div>
    <div class="trasnfer-container">
        <h1>Transfer To {{ currContact.name }}</h1>
        <app-contact-transfer [currContact]="currContact"></app-contact-transfer>
        <app-transfer-history
          [contact]="currContact"
          [user]="user"
        ></app-transfer-history>
      </div>
  </section>
  