<section class="contact-details-container">
    <div class="contact-details">
      <img
        src="https://robohash.org/{{ currContact._id }}?set=set4"
        alt="contact-image"
      />
      <div class="details">
          <h1 class="name">{{ currContact.name }}</h1>
          <p>{{ currContact.phone }}</p>
          <small class="email">{{ currContact.email }}</small><br/>
          <button class="button-3" (click)="onBack()">Go Back</button>
      </div>
    </div>
    <app-contact-transfer [currContact]="currContact"></app-contact-transfer>
  </section>
  <div class="transfer-container">
      <app-transfer-history
        [contact]="currContact"
        [user]="user"
      ></app-transfer-history>
    </div>
  