.main-app {
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column ;
    width: 100%;
    overflow: auto;
    height: 100vh;
}

main{
    flex-grow: 1;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    font-size: 1em;
    margin-top: 10px;
    bottom: 0;
}

@media screen and(max-width:650px) {
    .main-app {
        padding: 1rem 1rem;
    }
}